body, html {
	overflow-x: hidden;
    margin: 0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}  

* {
	box-sizing: border-box;
}

p, h1, h2, h3, h4 {
	margin-block-start:0;
	margin-block-end:0;
	margin-inline-start:0;
	margin-inline-end:0;
	padding-block-start:0;
	padding-block-end:0;
	padding-inline-start:0;
	padding-inline-end:0;
}

header {
    display: none;
}

button {
    display: none;
}

header input {
	display: block;
	margin: 2vw;
}

header:hover {
	opacity: 1;
	transition: 0.5s all;
}

section>div {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	min-width: 100vw;
	z-index: 0;
}

section {
	position: relative;
	display: flex;
}

section img {
	position: relative;
	height: 100vh;
	width: 100vw;
	/* transform: rotate(90deg); */
	z-index: 1;
}

section p {
	position: absolute;
	width: 20vh;
	/* transform: rotate(90deg); */
	background-color: white;
}

.page1 p.broj-zapisnika {
	top: 15.2%;
	left: 23.3%;
	width:15vw;
}

.page1 p.datum-izdavanja {
	top: 15.3%;
	right:3.5%;
    width:11.5vw;
    height:1.4vh;
    border: none;
}

.page1 p.zahtev-broj {
	top: 29.8%;
    left: 32%;
    width:12vw;
    height:1.4vh;
    border: none;
}

.page1 p.datum-zahteva {
	top: 29.8%;
    right: 16%;
    height:1.4vh;
    border: none;
	width:9vw;
}

.page1 p.datum-posete {
	top: 31.5%;
    right: 16%;
    height:1.30vh;
    border: none;
	width:9vw;
}

/* page2 */

.page2 p.datum-posete {
	top: 29.2%;
	left:24vw;
	width:9vw;
}

.page2 p.ventil-broj {
	top: 48.2%;
	left:33vw;
	width:7vw;
}

.page2 p.datum-ventila {
	top: 48.2%;
	left:47vw;
	width:9vw;
}

.page3 p.datum-posete {
	top: 31%;
	left: 17%;
	width:8vw;
}

.page4 p.revizioni-broj {
	top: 7%;
	right: 8%;
	width:18vw;
}

.page4 p.datum-posete {
	top:61%;
	right: 12.4%;
	width:18vw;
}

.page4 p.datum-izdavanja {
	top: 15%;
	right:2.8%;
	width:12vw;
}

.page4 p.zahtev-broj {
	top: 73%;
	left: 19.5%;
}


.page4 p.broj-zapisnika {
	top: 75.2%;
	left:21.5vw;
	width:25vw;
}

.page4 p.datum-zahteva {
	top: 75.5%;
	right: 15%;
	width:13vw;
}

