body {
    margin: 0;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	overflow-x: hidden !important;
}  

* {
	box-sizing: border-box;
}

p, h1, h2, h3, h4 {
	margin-block-start:0;
	margin-block-end:0;
	margin-inline-start:0;
	margin-inline-end:0;
	padding-block-start:0;
	padding-block-end:0;
	padding-inline-start:0;
	padding-inline-end:0;
}

header {
    background: rgba(0, 0, 0, 0.877);
	position: fixed;
	z-index: 4;
	transition: 0.5s all;
	border-radius: 0 0 2vw 0;
	display: none;
}

.listDiv {
	display: flex;
	justify-content: center;
}

button, a {
	border: 0;
	cursor: pointer;
	transition: 0.3s;
}

button:active {
	border: 0;
	outline: 0;
	transform: translate(1px, 1px);
}

button:focus, select:focus, input:focus {
	outline: 0;
}

option {
	border: 0 !important;
	padding: 0;
	outline: 0 !important;
	background-color: white;
}

button:hover {
	outline: 0;
	transition: 0.3s;
	filter: brightness(1.1);
}

.deleteLs {
	display: none;
	position: fixed;
	top:1vw;
	left:1vw;
	z-index: 3;
	cursor: pointer;
	width:5vw;
	height:3vw;
	background: rgba(0, 0, 0, 0.726);
	color: rgba(255, 255, 255, 0.767);
	font-size:1.2vw;
	font-weight: 700;
	border-radius: 1.4vw;
	border:none;
	z-index: 5;
}

.addInputs {
	position: fixed;
	height: 3vw;
	width: 10vw;
	background-color: rgba(230, 173, 50, 0.801);
	border-radius: 1.8vw;
	left:6.5vw;
	top:1vw;
	color:rgba(255, 255, 255, 0.815);
	font-size:1.2vw;
	font-weight: 700;
	cursor: pointer;
	z-index: 14;
}

#printButton {
	position: fixed;
	height: 6vw;
	width: 6vw;
	background-color: rgba(0, 37, 105, 0.726);
	border: 0.5vw solid rgba(230, 227, 227, 0.877);
	border-radius: 50%;
	left:1vw;
	bottom:1vw;
	color:rgba(230, 227, 227, 0.877);
	font-size:1.2vw;
	font-weight: 700;
	cursor: pointer;
	z-index: 4;
}

.fileuploader-btn {
	position: fixed;
	right:1vw;
	top:1vw;
	height: 3vw;
	width: 10vw;
	font-size:1.2vw;
	font-weight: 700;
	border-radius: 1.3vw;
	cursor: pointer;
	background: rgba(255, 8, 0, 0.712);
	color: rgba(255, 255, 255, 0.863);
	overflow: visible;
	z-index:3;
}

.removePage {
	position: absolute;
	right: -6vw;
	top: 0.5vw;
	height: 5vw;
	width: 5vw;
	background: rgba(0, 0, 0, 0.699);
	color: rgba(228, 226, 226, 0.863);
	border: 0.5vw solid rgba(228, 226, 226, 0.863);
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2vw;
	font-weight: 600;
	border-radius: 50%;
	cursor: pointer;
	z-index: 5;
}

.removePage:active {
	transform: translateY(0);
	transition: 2s;
}

#myList {
	position: absolute;
	display: flex;
	align-self: center;
	justify-content: center;
	padding: 0;
	top:0px;
	margin-top: 0;
	margin-bottom: 0;
	display: block;
	resize: both;
	z-index: 3;
	list-style: none;
	overflow-x: hidden;
	width: 1119px;
	min-width: 1119px;
	min-height: 1577.79px;
	max-width: 1119px;
}

.projectsDiv {
	position: fixed;
	left:18vw;
	top:1vw;
	z-index: 14;
}

#openProjList {	
	height: 3vw;
	width: 10vw;
	border-radius: 1.3vw;
	font-size:1.2vw;
	font-weight: 700;
	cursor: pointer;
	margin-right: 1vw;
}

.startName {
	width:15vw;
}

#addNewProj {
	height: 3vw;
	width: 3vw;
	background: rgba(160, 160, 160, 0.699);
	color: rgba(228, 226, 226, 0.863);
	border: 0.3vw solid rgba(228, 226, 226, 0.863);
	display: inline-flex;
	justify-content: center;
	align-items: center;
	font-weight: 600;
	border-radius: 50%;
	cursor: pointer;
	z-index: 5;
	font-size: 1.5vw;
}

#projects {
	position: relative;
	font-size:1.2vw;
	font-weight: 700;
	z-index: 14;
	display: none;
}

.nameDiv {
	justify-content: center;
	align-items: center;
	position: absolute;
	flex-direction: column;
	flex-wrap: nowrap;
	width: 100%;
	height:100vh;
	z-index: 20;
	background-color: rgba(230, 173, 50, 0.836);
}

.startFirstDiv {
	width: 30%;
	height:3vw;
	display: flex;
	margin: 2vw;
}

.openSavedDiv {
	width: 30%;
	height:3vw;
	display: flex;
	margin: 2vw;
	display: none;
}

.projectName {
	height: 100%;
	flex:7 1 0;
	border-radius: 1.3vw 0 0 1.3vw;
	transform: 0.3s;
	filter: brightness(0.97);
	padding-left: 1vw;
	font-size: 1.4vw;
	border: 0;
}

.projectName + button {
	height: 100%;
	flex:3 1 0;
	background-color: rgba(255, 225, 53, 0.877);
	border-radius: 0 1.3vw 1.3vw 0;
	font-size: 1.4vw;
	font-weight: 700;
}

.openSavedDiv select {
	height: 100%;
	flex:7 1 0;
	padding-left: 1vw;
	font-size: 1.4vw;
	border-radius: 1.3vw 0 0 1.3vw;
	border: 0;
}

.openSavedDiv button {
	height: 100%;
	flex:3 1 0;
	border-radius: 0 1.3vw 1.3vw 0;
	border: 0;
	font-size: 1.4vw;
	font-weight: 700;
	background-color: rgb(202, 202, 202);
}

.scrollable {
	overflow-y: visible;
}

.projectName:hover {
	transform: 0.3s;
	filter: brightness(1);
}

.draggableDiv {
	position: absolute;
	top:0;
	left:0vw;
	border:1px solid black;
	cursor:grab;
	min-width: auto;
}

.draggableDiv * {
	display: block;
}

.newInput {
	display: block;
	resize: both;
	margin-bottom: 10px;
	font-size: 1vw;
	height: 30px;
	width:150px;
	--base: white;
	background: var(--base);
	overflow: hidden;
	cursor: grab;
}

.newInput:focus {
	outline: none;
}

input[type="range"] {
	width:80px;
}

.fixed {
	position: fixed;
	outline: 3px solid black;
}

.fixed span {
	pointer-events: none;
	opacity: 0.1;
}

.areaName {
	height:20px;
	max-width:80px;
	font-weight: 900;
}

.draggableDiv input {
	max-width:80px;
	margin-left: 2px;
}

.draggableDiv button {
	border: 1px solid black;
	margin-top: 5px;
	margin-left: 2px;
	max-width:80px;
	cursor: pointer;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
	display: inline-block;
	transition: 0.3s all;
}

.draggableDiv span {
	border: 1px solid black;
	margin-top: 5px;
	max-width:80px;
	cursor: pointer;
	display: inline-block;
	border-radius: 20%;
	margin-bottom: 2px;
	margin-left: 2px;
	font-size: 80%;
	padding: 3px;
	transition: 0.3s all;
}

.draggableDiv button:hover {
	background: rgba(255, 0, 0, 0.89);
}

.draggableDiv span:hover {
	background: rgba(145, 23, 23, 0.938);
}

input:active, input:focus, button:focus {
	outline: 0;
}

header input {
	display: block;
	margin: 2vw;
	height: 6vh;
	width: 15vw;
	font-size: 1.3vw;
	padding-left: 1vw;
	border-radius: 1.1vw;
	border: none;
	color: rgba(0, 0, 0, 0.918);
	letter-spacing: 0.1vw;
}

header:hover {
	opacity: 1;
	background: rgb(23, 2, 43);
	transition: 0.5s all;
}

.pages {
	position: relative;
	top: 120px;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	justify-content: center;
	position: relative;
	z-index: 0;
	width: 1119px;
	align-items: center;	
	flex-direction: column;
	max-width: 1119px;
}

section {
	position: relative;
	resize: both;
	width: 1119px;
	max-width: 1119px;
	background-size: cover;
	background-repeat: no-repeat;
}

section>div {
	position: relative;
	align-items: center;
	height: auto;
	width: 1119px;
	z-index: 0;
	max-width: 1119px;
}

section img {
	position: relative;
	width: 1119px;
	z-index: -11;
	max-width:1119px;
}

section p {
	color: red;
	position: absolute;
	width: 20vh;
	background-color: white;
	font-size: 1vw;
	display: flex;
	align-items: center;
	border: none;
}

.page1 {
	top:0;
	width: 1119px;
	max-width: 1119px;
	height:1577.79px;
	min-height: 1577.79px;
	background: url("../images/Formular-1.png");
	background-size: cover;
	background-repeat: no-repeat;
}

.newDiv {
	position: relative;
	width: 1119px;
	max-width: 1119px;
	height:1577.79px;
	min-height: 1577.79px;
	background: url("../images/Formular-1.png");
	background-size: cover !important;
	background-repeat: no-repeat !important;
}

.projects {
	padding:1vw;
	/* display: none; */
}

.activeDrop {
	display: block !important;
}

.dnone {
	display: none;
}

.dflex {
	display: flex;
}

ol {
	list-style: none;
	counter-reset: my-awesome-counter;
}

ol li {
	counter-increment: my-awesome-counter;
}

ol li::before {
	margin-top: 1vw;
	content: counter(my-awesome-counter) ". ";
	color: rgb(83, 82, 82);
	font-weight: bold;
}

.projects p {
	width: 8vw;
	display: inline-block;
	background-color: rgb(109, 109, 109);
	color: white;
	padding: 0.3vw 1vw;
	border-radius: 0.5vw;
	cursor: initial;
	font-weight: 700;
}

.projects > * {
	margin-top: 1vw;
	font-size: 1.2vw;
	font-weight: normal;
}

.projects button {
	color: white;
	padding: 0.3vw 1vw;
	border-radius: 0.5vw;
	font-size: 1.2vw;
	background-color: rgb(197, 197, 197);
	font-weight: 700;
}

.projects span {
	margin-left: 1.5vw;
	background-color: rgb(238, 238, 238);
	color: rgba(0, 0, 0, 0.918);
	border-radius: 50%;
	width: 2vw;
	height: 2vw;
	padding: 0;
	font-size: 1.2vw;
	font-weight: 900;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	cursor: pointer;
}

.startName {
	border: 0.2vw solid black;
	padding: 0.6vw;
	font-size: 1.2vw;
	border-radius: 0.5vw;
}


@media print {

	* {
		-webkit-print-color-adjust: exact !important;   
		color-adjust: exact !important; /*Firefox*/
	}

	body, html {
		opacity: 1 !important;
		margin-left: 0 !important;
	}

	header, button, .removePage {
		display: none;
	}

	.draggableDiv * {
		visibility: hidden;
	}

	.draggableDiv .newInput {
		visibility: visible;
		resize: none;
		transform: translateY(-120px);
	}

	.fixed {
		display: none;
	}


	input, .fileuploader-btn {
		display: none;
	}

	textarea, .draggableDiv {
		border:0;
	}

	.pages {
		position: relative;
		top:0;
		z-index: 0;
		width: 100%;
		display: block;
		flex-direction: column;
	}

	
}
